    <!-- Begin Large Hero Block -->
<section class="hero accent parallax" style="background-image: url(images/parallax_wm.jpg);">

    <!-- Heading -->
    <div class="hero-content container">
        <p><em>Vietnam Inclusive Innovation Project</em></p>
        <h1>Discover. Develop. Deliver.</h1>
    </div><!-- END -->
    <!-- Button -->
    <div class="sub-hero container">
        <span class="line"></span>
        <a href="~/about/" class="button white">LEARN MORE</a>
    </div><!-- END -->

</section>
<!-- End Large Hero Block -->
<!-- Begin Overview Block -->
<section class="center-mobile content container">
    <div class="row">

        <div class="col-sm-3">
            <h2>National Development Challenges</h2>
            <p>Key development problems which need to be addressed as national priorities to make contribution to the achievement of targets set forth in the Viet Nam socio-economic development strategy period 2011-2020.</p>
        </div>
        <div class="col-sm-3">
            <h2>Technology Adaptation and Upgrading</h2>
            <p>To stimulate the adaptation and upgrading of  existing research and/or prototype technologies for development of (pilot) products up to the level ready for scaling-up and/or commercialization.</p>
        </div>
        <div class="col-sm-3">
            <h2>Grassroots</h2>
            <p>To stimulate inclusive innovations from an informal sector (the grass root innovator). To support the scaling up,  creation and commercialization of high volume, low cost products that can reach a significant size  of BoP people</p>
        </div>
        <div class="col-sm-3">
            <h2>Scaling up and Commercialization</h2>
            <p>To bring the technologies previously developed or transferred under the NDC, A&U and GRASSROOTSS categories into a larger  sustainable production scale.</p>
        </div>
    </div>
</section>
<!-- End Overview Block -->
<!-- Begin Call to Action Block -->
<section class="call-to-action content light">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="title col-lg-12">
                <h2>Are you ready?</h2>
                <p>If so, why don’t you get in touch with us so we can talk about your projects.</p>
            </div>
        </div><!-- END -->
        <!-- Actions -->
        <div class="row">
            <div class="actions padded col-lg-12">
                <a class="button accent-alt" href="#">Apply now</a>
                <span class="choice">or</span>
                <a class="button gray" href="~/about/">Contact us</a>
            </div>
        </div><!-- END -->
    </div>
</section>
<!-- End Call to Action Block -->
<!-- Begin Milestone Block -->
<section class="container">
    <div class="row">

        <!-- Milestone -->
        <div class="milestone col-sm-4">
            <span class="value" data-from="10" data-to="55" data-speed="5" data-refresh-interval="100">55M USD</span>
            <h6>Total funding</h6>
        </div><!-- END -->
        <!-- Milestone -->
        <div class="milestone col-sm-4">
            <span class=" value">300K USD</span>
            <h6>Each project</h6>
        </div><!-- END -->
        <!-- Milestone -->
        <div class="milestone col-sm-4">
            <span class=" value">24 Months</span>
            <h6>Duration</h6>
        </div><!-- END -->

    </div>
</section>
<!-- End Milestone Block -->
<!-- Begin Feature Block -->
<section class="feature-box light">
    <div class="feature-image" style="background-image: url(images/idea.jpg);"></div>
    <div class="content container center-mobile">

        <!-- Title -->
        <div class="row">
            <div class="title col-sm-6 col-sm-push-6">
                <h2>Priority fields</h2>
                <p>Provide funds as inclusive innovation grants to research and development institutions, enterprises and grassroots innovators, through a selected number of sub-projects, to finance the preparation required to develop new technologies or bring forward existing research and/or prototype technologies for development of pilot products up to the level ready for commercialization. The applicants are encouraged to collaborate and can propose development of new technologies, utilization of domestic as well as foreign technologies, but are responsible for arranging the acquisition of licenses</p>
            </div>
        </div><!-- END-->
        <!-- Features -->
        <div class="row">
            <div class="feature col-sm-6 col-sm-offset-6 col-md-3 clearfix">
                <h3>ICT Application as a Tool for Delivery of Services to the BoP</h3>
                <p class="small"></p>
                <ul class="social-list animated fade" data-appear-bottom-offset="100">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="feature col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-0 clearfix">
                <h3>Agriculture/Aquaculture Technologies</h3>
                <p class="small"></p>
                <ul class="social-list animated fade" data-appear-bottom-offset="100">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- END -->
        <!-- Features -->
        <div class="row">
            <div class="feature last col-sm-6 col-sm-offset-6 col-md-3 clearfix">
                <h3>Traditional herbal medicine</h3>
                <p class="small"></p>
                <ul class="social-list animated fade" data-appear-bottom-offset="100">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </div><!-- END -->

    </div>
</section>
<!-- End Feature Block -->
<!-- Begin Client Logos Block -->
<section class="clients container">
    <div class="row">
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/world_bank_logo.png" alt="client">
        </div>
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/MOST.jpg" alt="client">
        </div>
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/vcb.png" alt="client">
        </div>
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/logo_vietinbank.jpg" alt="client">
        </div>

    </div>
</section>
<!-- End Client Logos Block -->