        <!-- Begin Sidebar -->
<div class="col-sm-4">
    <div class="sidebar">

        <!-- search widget -->
        <div class="widget clearfix">
            <form action="#">
                <input name="s" id="s" type="text" class="search" placeholder="Search.." value="" />
                <input type="submit" value="Go" class="search-submit" />
            </form>
        </div><!-- END -->
        <!-- text widget -->
        <div class="widget">
            @*<h5>TEXT WIDGET</h5>*@
            <div class="textwidget"><p>Welcome to the official site of VIIP. Discover fact and stories about the project.</p></div>
        </div><!-- END -->
        @*<!-- categories widget -->
            <div class="widget">
                <ul>
                    <li class="cat-item"><a href="#">Standard</a> (3)</li>
                    <li class="cat-item"><a href="#">Video</a> (6)</li>
                    <li class="cat-item"><a href="#">Gallery</a> (12)</li>
                    <li class="cat-item"><a href="#">Quotes</a> (4)</li>
                </ul>
            </div><!-- END -->*@
        <!-- tagcloud widget -->
        <div class="widget">
            <h5>TAGS</h5>
            <div class="tagcloud">
                <a href='#'>VIIP</a>
                <a href='#'>NAFOSTED</a>
                <a href='#'>WORLD BANK</a>
                <a href='#'>TECHNOLOGY INNOVATION</a>
            </div>
        </div><!-- END -->
        @*<!-- archives widget -->
            <div class="widget widget-archive">
                <h5>Archives</h5>
                <ul>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                </ul>
            </div><!-- END -->*@
        @*<!-- recent comments widget -->
        <div class="widget widget-recent-comments">
            <h5>Recent Comments</h5>
            <ul id="recentcomments">
                <li class="recentcomments">Admin on <a href="#">Standard post with goodies.</a></li>
                <li class="recentcomments">Aether-Themes on <a href="#">Fluid video. Yeah we got that.</a></li>
                <li class="recentcomments">Admin on <a href="#">Gallery post with slider.</a></li>
            </ul>
        </div><!-- END -->*@
        @*<!-- recent posts widget -->
            <div class="widget widget-recent-entries">
                <h5>Recent Posts</h5>
                <ul>
                    <li><a href="#" title="Post Title">Standard post with goodies.</a></li>
                    <li><a href="#" title="Post Title">Fluid video. Yeah we got that.</a></li>
                    <li><a href="#" title="Post Title">Gallery post with slider.</a></li>
                </ul>
            </div><!-- END -->*@

    </div>
</div><!-- END -->
