<!-- Begin Small Hero Block -->
<section class="hero small accent parallax" style="background-image: url(images/blog/signingceremony.jpg);"></section>
<!-- End Small Hero Block -->
<!-- Begin Blog Block -->
<section class="content container">
    <div class="row">

        <!-- Begin Posts -->
        <div class="col-sm-8">

            <!-- Standard Post -->
            <div class="post image">
                <span class="date">28<br><small>Jan</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">Standard post with goodies.</a></h2>
                    <div class="post-meta">
                        <h6>Posted by <a href="#">John Doe</a> / <a href="#">Standard</a></h6>
                    </div>
                </div>
                <div class="post-media">
                    <img src="images/blog/signingceremony.jpg" alt="">
                </div>

                <div class="post-body">
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                    <h2>Heading 2</h2>
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                    <h3>Heading 3</h3>
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                    <p><strong>Blockquote</strong></p>
                    <blockquote>"This is a sample blockquote. Donec varius felis fermentum nisl imperdiet at molestie purus porta. </blockquote>
                    <p><strong>Code</strong></p>
                    <code>
                        .some-style {
                        width: 960px;
                        height: 200px;
                        margin: 0 auto;
                        background-color: #000000;
                        }
                    </code>
                    <h4>Heading 4</h4>
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                    <h5>Heading 5</h5>
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                    <h6>Heading 6</h6>
                    <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
                </div>


            </div><!-- END -->

        </div><!-- END -->
        @Html.Partial("_Sidebar")
    </div>
</section>
<!-- End Blog Block -->
