<ul class="list-group">
    <a href="~/admin/grants" class="list-group-item " data-toggle="modal">
        <strong class="list-group-item-heading">Grant</strong>
        <p class="list-group-item-text">Share with me by other users</p>
    </a>
    <a href="~/admin/agency" class="list-group-item ">
        <strong class="list-group-item-heading">Organization</strong>
        <p class="list-group-item-text">All file in personal storage</p>
    </a>
    <a href="~/admin/Opportunities" class="list-group-item ">
        <strong class="list-group-item-heading">Opportunities</strong>
        <p class="list-group-item-text">All file in personal</p>
    </a>
    <a href="~/admin/classification" class="list-group-item ">
        <strong class="list-group-item-heading">Classification</strong>
        <p class="list-group-item-text">All file in personal</p>
    </a>

    <a href="~/admin/categories" class="list-group-item ">
        <strong class="list-group-item-heading">Category</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>
    <a href="~/admin/useraccount/" class="list-group-item ">
        <strong class="list-group-item-heading"><i class="fa fa-user"></i>&nbsp; Users and groups</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>
    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading"><i class="fa fa-group"></i>&nbsp;Authorization</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>

</ul>
