<div class="bs-sidebar hidden-print affix" role="complementary" style="display:none">
    <ul class="nav bs-sidenav">
        <li>
            <a href="#">Download Bootstrap</a>
            <ul class="nav">
                <li><a href="#">Apply for Grants</a></li>
                <li class="active"><a href="#">Track my application</a></li>
            </ul>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="#">Basic template</a>
        </li>
        <li>
            <a href="#">Application Process</a>
        </li>
        <li>
            <a href="#">FAQs</a>
        </li>
        <li>
            <a href="#">Resources</a>
        </li>
        <li>
            <a href="#">Tips</a>
        </li>
        <li data-spy="affix" data-offset-top="200">
            <a href="#">Contacts</a>
        </li>


    </ul>
</div>

