<ul class="list-group">
    <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
        <strong class="list-group-item-heading">General</strong>
        <p class="list-group-item-text">Share with me by other users</p>
    </a>
    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading">Programs</strong>
        <p class="list-group-item-text">All file in personal storage</p>
    </a>
    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading">Documents</strong>
        <p class="list-group-item-text">All file in personal storage</p>
    </a>
    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading">Projects</strong>
        <p class="list-group-item-text">All file in personal storage</p>
    </a>

    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading">Fields</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>
    <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
        <strong class="list-group-item-heading">Templates</strong>
        <p class="list-group-item-text">Share with me by other users</p>
    </a>
    <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
        <strong class="list-group-item-heading">Notification and requests</strong>
        <p class="list-group-item-text">Share with me by other users</p>
    </a>

    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading">Organizations</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>
    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading"><i class="fa fa-user"></i>&nbsp; Users and groups</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>
    <a href="#" class="list-group-item ">
        <strong class="list-group-item-heading"><i class="fa fa-group"></i>&nbsp;Authorization</strong>
        <p class="list-group-item-text">Temporary deleted files</p>
    </a>

</ul>
