
        <!-- Begin Sidebar -->
<div class="col-sm-4">
    <div class="sidebar">

        <!-- search widget -->
        <div class="widget clearfix">
            <form action="#">
                <input name="s" id="s" type="text" class="search" placeholder="Search.." value="" />
                <input type="submit" value="Go" class="search-submit" />
            </form>
        </div><!-- END -->
        <!-- categories widget -->
        <div class="widget">
            <h5>CATEGORIES</h5>
            <ul>
                <li class="cat-item"><a href="#">Projects</a> (3)</li>
                <li class="cat-item"><a href="#">Policy</a> (6)</li>
            </ul>
        </div><!-- END -->
        <!-- tagcloud widget -->
        <div class="widget">
            <h5>TAGS</h5>
            <div class="tagcloud">
                <a href='#'>VIIP</a>
                <a href='#'>NAFOSTED</a>
                <a href='#'>INNOVATION</a>
            </div>
        </div><!-- END -->
    </div>
</div><!-- END -->
