@{
    ViewBag.Title = "Library";
}

<!-- Begin Small Hero Block -->
<section class="hero small accent parallax" style="background-image: url(images/parallax.png);">


</section>
<!-- End Small Hero Block -->
<!-- Begin Blog Block -->
<section class="content container">
    <div class="row">

        <!-- Begin Posts -->
        <div class="col-sm-8">

            <!-- Link Post -->
            <div class="post link">
                <span class="date">30<br><small>Sep</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">Sổ tay tài trợ</a></h2>
                    <div class="post-meta">
                        <h6>Project agreement between VB and Nafosted</h6>
                    </div>
                    <a class="button accent-alt" href="#">Download</a>
                </div>
            </div><!-- END -->
            <!-- Link Post -->
            <div class="post link">
                <span class="date">30<br><small>Sep</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">Signed Financial Agreement</a></h2>
                    <div class="post-meta">
                        <h6>Project agreement between VB and SBV</h6>
                    </div>
                    <a class="button accent-alt" href="#">Download</a>
                </div>
            </div><!-- END -->
            <!-- Link Post -->
            <div class="post link">
                <span class="date">30<br><small>Sep</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">Grant Manual</a></h2>
                    <div class="post-meta">
                        <h6>Project agreement between VB and SBV</h6>
                    </div>
                    <a class="button accent-alt" href="#">Download</a>
                </div>
            </div><!-- END -->
            <!-- Link Post -->
            <div class="post link">
                <span class="date">30<br><small>Sep</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">Project operation manual</a></h2>
                    <div class="post-meta">
                        <h6>Project agreement between VB and SBV</h6>
                    </div>
                    <a class="button accent-alt" href="#">Download</a>
                </div>
            </div><!-- END -->
            <!-- Link Post -->
            <div class="post link">
                <span class="date">30<br><small>Sep</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">Nafosted and MPI Memorandum of understanding</a></h2>
                    <div class="post-meta">
                        <h6>Memorandum of understanding between Nafosted and MPI</h6>
                    </div>
                    <a class="button accent-alt" href="#">Download</a>
                </div>
            </div><!-- END -->
            <!-- Link Post -->
            <div class="post link">
                <span class="date">30<br><small>Sep</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">VIIP Signed Financial Agreement</a></h2>
                    <div class="post-meta">
                        <h6>Project agreement between VB and SBV</h6>
                    </div>
                    <a class="button accent-alt" href="#">Download</a>
                </div>
            </div><!-- END -->



        </div><!-- END -->
        @Html.Partial("_LibSidebar")
    </div>
</section>
<!-- End Blog Block -->
