@model DateTime?
    <div class="date datePicker">
        @Html.TextBox("", Model.HasValue ? Model.Value.ToString("dd/MM/yyyy") : String.Empty, new { @class = "form-control" })
    </div>
    <script type="text/javascript">
        $(function () {
            // target only the input in this editor template
            $('#@Html.IdForModel()').datetimepicker({
                format: 'DD/MM/YYYY',
                pickTime: false
            });
        });
    </script>
