@model DateTime?
    <div class="date">
        @Html.TextBox("", Model.HasValue ? Model.Value.ToString("MM/dd/yyyy") : String.Empty, new { @class = "form-control datepicker" })
    </div>
    <script type="text/javascript">
        $(function () {
            // target only the input in this editor template
            @*$('#@Html.IdForModel()').datetimepicker({
                format: 'DD/MM/YYYY',
                pickTime: false
            });*@
        });
    </script>
