@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Contact</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Directors</td>
            <td>Section</td>
            <td>408B</td>
            <td>049446666</td>
            <td>
                <a class="btn btn-primary">Edit</a>
                <div class="input-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Delete
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-bind="click: function (data, evt) { $parent.deleteApp(data) }">
                                <span class="icon-ok"></span>
                                Confirm
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-remove"></span>
                                Cancel
                            </a>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
        <tr>
            <td>Technology Development</td>
            <td>Department</td>
            <td>408B</td>
            <td>049446666</td>
        </tr>
        <tr>
            <td>Nature Science</td>
            <td>Department</td>
            <td>408B</td>
            <td>049446666</td>
        </tr>
        <tr>
            <td>Social Science</td>
            <td>Department</td>
            <td>408B</td>
            <td>049446666</td>
        </tr>
        <tr>
            <td>Administration</td>
            <td>Department</td>
            <td>408B</td>
            <td>049446666</td>
        </tr>
        <tr>
            <td>Accounting</td>
            <td>Department</td>
            <td>408B</td>
            <td>049446666</td>
            <td>Phan Minh Nguyet</td>
        </tr>
    </tbody>
</table> 