@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_LayoutSysAdmin.cshtml";
}

<h2>Documents</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Document type</th>
            <th>Program</th>
            <th>Lastupdated</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>REG</td>
            <td>Registration Form</td>
            <td>Registration Form for basic science</td>
            <td>Basic science</td>
            <td></td>
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class=" glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="#" data-confirm="Are you sure?" data-method="put" rel="nofollow">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                Upload
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" data-confirm="WARNING: This will also delete This cannot be undone. Are you sure you want to delete" data-disable-with="Deleting..." data-method="delete" rel="nofollow">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete
                            </a>
                        </li>

                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>DETAIL</td>
            <td>Explanation Form</td>
            <td>Registration Form for basic science</td>
            <td>Basic science</td>
            <td></td>
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class=" glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="#" data-confirm="Are you sure?" data-method="put" rel="nofollow">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                Upload
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" data-confirm="WARNING: This will also delete This cannot be undone. Are you sure you want to delete" data-disable-with="Deleting..." data-method="delete" rel="nofollow">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete
                            </a>
                        </li>

                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>MIDRPT</td>
            <td>Midterm Report</td>
            <td>Registration Form for basic science</td>
            <td>Basic science</td>
            <td></td>
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class=" glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="#" data-confirm="Are you sure?" data-method="put" rel="nofollow">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                Upload
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" data-confirm="WARNING: This will also delete This cannot be undone. Are you sure you want to delete" data-disable-with="Deleting..." data-method="delete" rel="nofollow">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete
                            </a>
                        </li>

                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>VIIP</td>
            <td>WorldBank program</td>
            <td>Vietnam includsive innovation</td>
            <td>1/9/2013</td>
            <td>1/9/2018</td>
            <td></td>
        </tr>
    </tbody>
</table>
