@{
    ViewBag.Title = "Fields";
    Layout = "~/Views/Shared/_LayoutSysAdmin.cshtml";
}

<h2>Fields</h2>
<ol class="breadcrumb">
    <li><a href="#">Information Technology</a></li>
    <li><a href="#">Network and Telecom</a></li>
    <li class="active">Wireless Network</li>
</ol>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>102</td>
            <td>Mathmatics</td>
            <td>Major</td>
            <td>Desx</td>
            <td></td>
        </tr>
        <tr>
            <td>105</td>
            <td>Physic</td>
            <td>Major</td>
            <td>Desx</td>
            <td></td>
        </tr>
    </tbody>
</table>