@using Vnsf.Resource.WebHost.Views.Shared
<ul class="lang-select">
    <li>@Html.ActionLink(_LanguageSelector.VI, "SetCulture", new { culture = "vi-VN" })</li>
    <li>@Html.ActionLink(_LanguageSelector.EN, "SetCulture", new { culture = "en-US" })</li>
</ul>