@{
    ViewBag.Title = "ra";
}

<div class="col-lg-3">
    <ul class="list-group">
        <a href="#" class="list-group-item active">
            <strong class="list-group-item-heading">Solicitations</strong>
            <p class="list-group-item-text">Letters of Intent</p>
        </a>
        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Proposals</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
                <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Reviews</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>

        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Awards</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Fwd/Submit revised budgets</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Notification and requests</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">User management</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Project Reports</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
        <a href="#" class="list-group-item " data-toggle="modal" data-target="#shareTab">
            <strong class="list-group-item-heading">Organization reports</strong>
            <p class="list-group-item-text">Share with me by other users</p>
        </a>
    </ul>
</div>
<div class="col-lg-9">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs text-center">
        <li><a href="#home" data-toggle="tab">In progress</a></li>
        <li><a href="#messages" data-toggle="tab">Withdrawals</a></li>
        <li><a href="#settings" data-toggle="tab">Submitted</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            Temp ID	Type	Access Level	PI Name	Proposal Title	Check	Edit	Submit	Return to PI
        </div>
        <div class="tab-pane" id="messages">
            Temp ID	Proposal ID	Type	PI Name	Proposal Title	Last Modified Date	Edit
        </div>
        <div class="tab-pane" id="settings">
            Temp ID	Proposal ID	Type	PI Name	Proposal Title	Last Submmitted Date	Edit
        </div>
    </div>
</div>
